// horizontal-icon-lignes is a placeholder that styles the menu icon
%horizontal-icon-lignes {
    position: relative;
    z-index: -1;
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}