@use "../general/variables" as *;
@use "../helpers/mixins" as *;

.features {
    background-color: $section-color;
    padding: {
        top: $section-padding;
        bottom: $section-padding;
    };
    .container {
        @include grid-system(30px);
        .feat {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            i{
                font-size: 50px;
                color: $main-color;
            }
            h3{
                font-weight: $text-weight;
            }
            p{
                line-height: $paragraphs-line-height;
                font-size: 18px;
                color: $text-color;
            }
        }
    }
}