@use "../general/variables" as *;

.landing {
    background: { 
        color: #DDD;
        image: url('../images/landing.jpg');
        size: cover;
    };
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-text {
        text-align: center;
    }
    h1 {
        font: {
            weight: $text-weight;
            size: 75px;
        };
        color: $main-color;
        margin: 0;
    }
    p {
        font-size: 22px;
        line-height: $paragraphs-line-height;
        color: $text-color;
    }
}